@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  white-space: nowrap;
  clip-path: inset(-50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  background-color: rgb(10, 58, 79);
  color: #fff;
  height: 64px;
}

.menu-toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.menu-toggle-btn path {
  stroke-width: 1px;
  transform-box: fill-box;
  transition: 250ms;
  transform-origin: center;
}

.menu-toggle-btn[aria-expanded="true"] path:nth-child(1) {
  opacity: 0;
  transform: rotate(45deg);
}

.menu-toggle-btn[aria-expanded="true"] path:nth-child(2) {
  transform: rotate(45deg);
}

.menu-toggle-btn[aria-expanded="true"] path:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.primary-navigation {
  position: absolute;
  top: 64px;
  background: #1b2030;
  color: #fff;
  height: calc(100vh - 64px);
  right: 0px;
  width: 200px;
  list-style-type: none;
  z-index: 1000;
}

.primary-navigation a {
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  border-bottom: 1px solid #353842;
  transition: 250ms;
}

.primary-navigation a:hover,
.primary-navigation a:focus {
  color: #ff6500;
  letter-spacing: 2px;
}

.primary-navigation a:hover:before,
.primary-navigation a:focus:before {
  width: 100%;
}

.primary-navigation a:before {
  content: "";
  height: 1px;
  width: 0%;
  background-color: #ff6500;
  transition: 250ms;
  position: absolute;
  bottom: 0;
  left: 0;
}

.primary-navigation[data-state="opened"] {
  display: block;
  animation: navigationOpenAnimation 250ms ease-in-out forwards;
}

.primary-navigation[data-state="closing"] {
  animation: navigationCloseAnimation 250ms ease-in-out forwards;
}

.primary-navigation[data-state="closed"] {
  display: none;
}

@keyframes navigationOpenAnimation {
  0% {
    clip-path: circle(0% at top right);
  }

  100% {
    clip-path: circle(250% at top right);
  }
}

@keyframes navigationCloseAnimation {
  0% {
    clip-path: circle(250% at top right);
  }

  100% {
    clip-path: circle(0% at top right);
  }
}

@-webkit-keyframes navigationOpenAnimation {
  0% {
    clip-path: circle(0% at top right);
  }

  100% {
    clip-path: circle(250% at top right);
  }
}

@-webkit-keyframes navigationCloseAnimation {
  0% {
    clip-path: circle(250% at top right);
  }

  100% {
    clip-path: circle(0% at top right);
  }
}